/* APP */
:root{

}

/* ---- HEADER ---- */
header{
    display: flex;
    justify-content: space-around;
    background-color: red;
    overflow: hidden;
}

header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

header h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

/* ---- NAV ---- */

nav{
    float: left;
    overflow: hidden;
}

nav a{
    float: left;
    text-decoration: none;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav button{
    margin: 0;
}

.dropContent{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px black;
    z-index: 1;
}

.dropContent a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show{
    display: block;
}

.dropContent:hover .dropContent {
    display: block;
}

/* ---- ABOUT / BODY ---- */
body{
    display: flex;
}

body p{
    margin: 50px 25px;
}
