/* APP */
:root{
    font-family: 'Roboto';
    font-weight: 800;
    letter-spacing: .7px;
    color: black;
}

/* ---- HEADER ---- */
header{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff);
    overflow: hidden;
}

header:hover{

}

header h1{
    font-family: 'Pacifico';
    font-size: 3em;
    letter-spacing: 1px;
    margin: 15px;
    color: #fffffcff;
    -webkit-text-stroke: 1px #030014;
}

header h1:hover{
    cursor: pointer;
    text-shadow: 2px 5px #FFFFEB;
}

header h2{
    font-family: 'Lobster Two';
    font-size: 2em;
    font-weight: 500;
    margin: 15px;
    margin-top: 30px;
    color: #fffffcff;
    -webkit-text-stroke: 1px #030014;
}

/* ---- NAV ---- */

nav{
    float: left;
    overflow: hidden;
}

nav a{
    float: left;
    text-decoration: none;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav button{
    font-size: 2em;
    padding: 15px;
    border-radius: 50%;
    background-color: #fffffcff;
    color: #030014;
}

nav button:hover{
    cursor: pointer;
}

.dropContent{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px black;
    z-index: 1;
}

.dropContent a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show{
    display: block;
}

.dropContent:hover .dropContent {
    display: block;
}

/* ---- ABOUT / BODY ---- */
body{
    display: flex;
}

body p{
    margin: 50px 25px;
}

/* ---- PROJECTS ---- */
.proOuter{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.proInner{
    /* display: flex; */
    flex: 2;
}