/* APP */
:root{
    font-family: 'Roboto';
    font-weight: 800;
    letter-spacing: .7px;
    color: black;
    max-width: 1500px; 
    margin: 0 auto !important; 
	float: none !important; 
}

a{
    color: #005e5c;
    font-weight: bolder;
}

main{
    margin-left: 50px;
    margin-right: 50px;
}

img{
    width: 50%;
}

/* ---- HEADER ----
header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #d3a03bff, #e8b041ff, #ffc247ff, #ffc847ff, #ffce47ff, #ffd447ff, #ffd947ff, #ffdf47ff, #ffe547ff, #ffea6cff);
    margin: 0 auto;
}

header h1{
    font-family: 'Pacifico';
    font-size: 3em;
    letter-spacing: 1px;
    margin: 15px;
    color: #fffffcff;
    text-shadow: 2px 5px #FFFFEB;
    -webkit-text-stroke: 1px #030014;
}

header h2{
    font-family: 'Lobster Two';
    font-size: 2em;
    font-weight: 500;
    margin: 15px;
    margin-top: 30px;
    color: #fffffcff;
    -webkit-text-stroke: 1px #030014;
}

/* ---- NAV ---- */

nav{
    float: left;
    overflow: hidden;
}

nav a{
    float: left;
    text-decoration: none;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav button{
    font-size: 2em;
    padding: 10px;
    border-radius: 50%;
    background-color: #fffffcff;
    color: #ffdd00ff;
    margin: 5px 25px;
}

nav button:hover{
    cursor: pointer;
    background-color: #ff8800ff;
    transition: .5s;
}

.dropContent{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px black;
    z-index: 1;
}

.dropContent a{
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 5px;
}

.show{
    display: block;
    background-color: rgb(255, 255, 191);
    border-radius: 8px;
}

.dropContent:hover .dropContent {
    display: block;
} */

/* ---- ABOUT / BODY ---- */
body{
    display: flex;
}

body p{
    margin: 40px 25px;
    padding: 10px;
}

.selfie{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 250px;
    max-height: 250px;
    justify-content: center;
}

/* ---- PROJECTS ---- */
.proOuter{
    display: flex;
    margin: 5px;
    flex-direction: row;
    flex: 1;
    text-align: center;
}

.proInner{
    flex: 2;
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    background-color: #fdf2bf;
}

.proInner h3{
    font-family: sans-serif;
    font-size: 1.5em;
}

.proInner p{
    text-align: left;
    margin: 20px 0;
}

.proInner a{
    margin: 3px;
}

/* ----MEDIA QUERY---- */
@media (max-width: 600px) {

    /* ----APP---- */
    main{
        margin-left: 15px;
        margin-right: 15px;
    }

    /* ----ABOUT---- */
    body{
        display: block;
    }

    .selfie{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    /* ----PROJECTS---- */
    .proOuter {
        flex-direction: column;
    }
  }



  .top-menu {
    background-color: grey;
    padding: 20px 50px 20px 50px;
    user-select: none;
}

.top-menu > .right {
    float: right;
}

.top-menu > .right > * {
    margin-left: 5px;
}

.top-menu > .left {
    float: left;
}

.top-menu > .left > * {
    margin-right: 5px;
}

.top-menu > .left > *, .top-menu > .right > * {
    padding: 11.4px;
    display: inline-block;
    text-align: center;
    min-width: 50px;
}

.top-menu *:hover{
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

.top-menu .top-menu-icon {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

@media screen and (max-width: 600px) {
    .top-menu {
        padding: 40px 20px 20px 20px;
        max-height: 0;
        overflow: hidden;
    }

    .top-menu > .left, .top-menu > .right {
        display: none;
    }

    .top-menu-icon {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .top-menu.toggled {
        padding: 60px 0 0 0;
        max-height: 1500px;
        transition: max-height 1s;
    }

    .top-menu.toggled > .left {
        border-bottom: 1px solid black;
        margin: 15px 0 0 0 ;
    }

    .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
        float: none;
        display: block !important;
        text-align: left;
        margin: 0;
    }
}

.top-menu-item:hover {
    background-color: white;
}

.top-menu-lead {
    padding: 10px;
    background-color: #000000;
    color: white;
    display: inline-block;
    float: left;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .top-menu-lead {
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}