
/* ---- HEADER ---- */
header{
    display: inline-flex;
    justify-content: space-around;
    margin: 0;
    background-color: red;
}

header h1{
    text-align: center;
    margin: 25px;
    margin-right: 15px;
}

header h2{
    margin: 25px 15px;
}

header ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin-right: 25px;
    margin-left: 15px;
}

header li{
    margin: 30px 5px;
}

header button{
    height: 40px;
    width: 75px;
    border-radius: 8px;
}

/* ---- ABOUT / BODY ---- */
body{
    display: flex;
}

body p{
    margin: 50px 25px;
}

