/* APP */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  font-family: 'Roboto';
  font-weight: 800;
  letter-spacing: .7px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #35938d;
  text-decoration: none;
  -webkit-transition: color 0.3s, font-size 0.3s;
  -moz-transition: color 0.3s, font-size 0.3s;
    -o-transition: color 0.3s, font-size 0.3s;
       transition: color 0.3s, font-size 0.3s;
}

a:hover{
  color: #000000;
}

main{
  margin-left: 50px;
  margin-right: 50px;
}

img{
  width: 50%;
}

/* ---- HEADER ---- */
.clear-fix {
  clear: both;
}

.top-menu {
  background: linear-gradient(90deg, #d3a03bff, #e8b041ff, #ffc247ff, #ffc847ff, #ffce47ff, #ffd447ff, #ffd947ff, #ffdf47ff, #ffe547ff, #ffea6cff);
  padding: 20px 50px 20px 50px;
  margin: 0 auto;
  user-select: none; 
  display: flex;
  justify-content: space-between;
} 

.top-menu > .right > * {
  margin-left: 5px;
}

.top-menu-lead {
  padding: 10px;
  font-family: 'Pacifico';
  font-size: 2.4em;
  letter-spacing: 1px;
  margin: -15px 0px;
  color: #fffffcff;
  text-shadow: 1px 2px #FFFFEB;
  -webkit-text-stroke: .5px #030014;
  display: inline-block;
}

.top-menu  > .top-menu > .right {
  display: none;
}

.top-menu-icon{
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.3em;
  position: static;
}

.top-menu-item{
  display: none;
}

.top-menu a{
  font-size: 1.1em;
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px #FFFFEB;
  font-weight: 800;
}

.top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon) {
  display: list-item;
  list-style: none;
  margin-top: 25px;
}

@media screen and (min-width: 500px){
  .clear-fix {
    clear: both;
  }

  .top-menu-item{
    text-align: center;
    display: inline-flex !important;
    padding: 20px 10px;
  }

  .top-menu .top-menu-icon {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
   
  .top-menu-item:hover{
    background-color: #FFF;
    border-radius: 12px;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
}

/* ---- ABOUT / BODY ---- */

.body-p{
  margin-top: 2em;
  font-size: 1em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.selfie{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.3em;
  width: 50%;
}

/* ---- PROJECTS ---- */
.pro-outer{
  display: flex;
  margin: 5px;
  flex-direction: column;
  min-width: 475px;
  text-align: center;
}

.pro-inner{
  margin: 15px;
  padding: 8px;
  border-radius: 15px;
  background-color: #ffffe4;
}

.pro-inner h3{
  font-family: 'Lobster';
  font-size: 3.3em;
  color: #d4af37;
  padding-bottom: 15px;
  border-bottom: #FFF solid 5px ;
}

.pro-inner p{
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin: 20px 0;
  line-height: 1.5em;
  font-size: 1.5em;
}

.pro-inner a{
  margin: 3px;
  font-size: 1.6em;
}

hr.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ----MEDIA QUERY---- */
@media (min-width: 600px) {
  .about-sect{
    display: flex;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
  }
  .selfie{
    max-width: 25%;
    display: inline-flex;
    flex: 1;
    margin-bottom: 30px;
  }
  .body-p{
    display: inline-flex;
    flex: 2;
    padding-top: 70px;
    margin: 50px;
  }
  .pro-inner p, .pro-inner a, .body-p{
    font-size: 1em;
  }
  /* ----PROJECTS---- */
  .pro-outer {
      flex-direction: row;
      justify-content: center;
  }
  .pro-inner{
    min-width: 375px;
    max-width: 375px;
  }
  .pro-inner h3{
    font-size: 2em;
  }


}